@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/NeueHaasGroteskDisplayPro-Regular.woff2") format("woff2"),
         url("/fonts/NeueHaasGroteskDisplayPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  